PORT=5000
MONGODB_URI=mongodb+srv://campusqadmin:campusqadmin1@cluster0.b1wwauc.mongodb.net/campusq?retryWrites=true&w=majority
TWILIO_PHONE=+918603898231
FIREBASE_API_KEY=AIzaSyCXfZfCp5cOkVDqWPKEUbAz26jMhjIE4Wk
EMAIL_USER=krishnakumarsah483@gmail.com
EMAIL_APP_PASSWORD=guyfblcrxzpiptjt
EMAIL_FROM=CampusQ <krishnakumarsah483@gmail.com>
