VITE_API_URL=http://localhost:5000
VITE_SOCKET_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=AIzaSyCXfZfCp5cOkVDqWPKEUbAz26jMhjIE4Wk
VITE_FIREBASE_AUTH_DOMAIN=campusq-d067e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=campusq-d067e
VITE_FIREBASE_STORAGE_BUCKET=campusq-d067e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=530183860086
VITE_FIREBASE_APP_ID=1:530183860086:web:3ebd6e60aab5c117dcd457
